canvas { position:fixed; top:0; left:0; z-index:-1; }

p{
	color: black;
	font-family : 'Homemade Apple', cursive;
	font-size:50px;
	padding-bottom: 0px;
}




button{
    -moz-appearance: none;
    color: black;
	font-family : 'Homemade Apple', cursive;
    background-color: white;
    outline : 0px;
    border : 0px;
    outline-color: black;
	font-size:20px;
	padding-bottom: 00px;
    border-radius: 10px;
     box-shadow: 5px 5px 5px #888888;
}


input[type=range] {
  height: 20px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 3px 3px 3px #50555C;
  background: #B0B0B0;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 14px;
  width: 46px;
  border-radius: 17px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #B0B0B0;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 3px 3px 3px #50555C;
  background: #B0B0B0;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 14px;
  width: 46px;
  border-radius: 17px;
  background: #000000;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #B0B0B0;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 3px 3px 3px #50555C;
}
input[type=range]::-ms-fill-upper {
  background: #B0B0B0;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 3px 3px 3px #50555C;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 14px;
  width: 46px;
  border-radius: 17px;
  background: #000000;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #B0B0B0;
}
input[type=range]:focus::-ms-fill-upper {
  background: #B0B0B0;
}
